<h1>Login page for library</h1>

<form action="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      placeholder="Enter Username"
    />
    <br />
    <br />
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter Password"
    />
    <br /><br />
    <input type="button" value="Login" />
    <button><a href="/register">Register a new acc</a></button>
  </div>
</form>
